.menu {
    display: flex;
    padding-right : 1.5em;

    .icon {
        margin-right : 1.5em;
        width : 23px;
        height : 23px;

        &:hover {
            cursor: pointer;
        }
    }
    button {
        border : none;
        background-color:royalblue;
        border-radius : 3px;
        color: white;
        width : 50px;
        font-size : 1px;
        margin-left : 1em;
    }

    
}

