.sidebar {
    width:320px;
    padding : 7em 2em 0 2em;
    position: fixed;
    left: 60%;
    top : -5px;
    
    .profileSub {
       img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
       }
    }
}
@media only screen and (max-width : 1024px) {
    .sidebar {
        display: none;
    }
}